# Try to exclude everything from linguist
.building/* linguist-vendored
.debug/* linguist-vendored
.vscode/* linguist-vendored

# Include only self implemented code
.github/workflows/* linguist-detectable
.testing/tests/* linguist-detectable
noita-mp/* linguist-detectable