name: Gource
on:
  push:
    branches:
      - 'develop'

jobs:
  action:
    runs-on: ubuntu-latest
    
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0

      - name: 'Gource Action'
        uses: nbprojekt/gource-action@v1
        with:
          avatars_auto_fetch: true
          gource_title: 'NoitaMP Gource master'
          gource_resolution: '1080p'
          gource_fps: 60
          gource_font_size: 40
          gource_auto_skip_seconds: 0.1
          gource_seconds_per_day: 0.1

      - name: 'Upload gource video'
        uses: actions/upload-artifact@v3
        with:
          name: Gource
          path: ./gource/gource.mp4